.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  position: relative;
}

.img {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 85px;
  position: relative;
  min-height: 700px;
}

.media_container {
  display: none;
}

.container__right {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--gap-s);
  color: var(--blue);
  z-index: 20;
  min-height: 700px;
}

.header {
  font-family: var(--header);
  font-size: 3.85rem;
  line-height: 1.1;
  width: 85%;
  margin-top: 4rem;
}

.text {
  font-size: var(--fs-200);
  padding: 1.1rem 0rem 1.5rem 0rem;
  width: 75%;
  line-height: 1.4;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--red);
  color: var(--white);
  outline: none;
  font-size: var(--fs-100);
  font-weight: var(--fw-medium);
  pointer-events: auto;
  cursor: pointer;
  width: 18rem;
  height: 3.25rem;
  overflow: hidden;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: #99091c;
  height: 100%;
  width: 135%;
  top: 0;
  left: 0;
  clip-path: polygon(75% 0%, 100% 50%, 75% 102%, 0% 102%, 0% 0%);
  transform: translate3d(-100%, 0, 0);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #99091c;
  height: 100%;
  width: 105%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.42, 0.22, 0.42, 1);
}

.btn:hover::before {
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s cubic-bezier(0.42, 0.22, 0.42, 1);
}

.btn:hover::after {
  transform: translate3d(0, 0, 0);
  transition: transform 0.01s 0.4s cubic-bezier(0.42, 0.22, 0.42, 1);
}

.btn_inner {
  display: flex;
  position: relative;
  z-index: 1;
}

.btn__icon {
  color: var(--white);
  width: 1.1rem;
  height: 1.1rem;
}

@media screen and (min-width: 1700px) {
  .container__right {
    padding-left: var(--gap-l);
  }
  .header {
    width: 75%;
    font-size: 4.5rem;
  }
  .text {
    width: 65%;
  }
}

@media screen and (max-width: 1350px) {
  .text {
    width: 85%;
  }
  .header {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: 53% 47%;
  }
  .header {
    font-size: 3.9rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 50% 50%;
  }
  .header {
    font-size: 3.6rem;
  }
  .text {
    width: 95%;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 85vh auto;
  }
  .container__right {
    grid-column: 1/2;
    padding-left: var(--gap-l);
    background-color: var(--light-gray);
    min-height: unset;
  }
  .img {
    display: none;
  }
  .media_container {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--blue);
  }
  .img_large {
    position: relative;
    width: 85%;
    aspect-ratio: 16/10;
  }
  .header {
    font-size: var(--fs-1000);
    width: 75%;
    margin-top: 5.5rem;
  }
  .text {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    width: 80%;
  }
  .text {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .text {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 80%;
  }
  .img_large {
    width: 90%;
  }
  .text {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .text {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container__right {
    padding: 0 var(--gap-l);
  }
  .media_container {
    background-color: var(--white);
  }
  .header {
    width: 100%;
    font-size: 2.5rem;
  }
  .text {
    width: 100%;
    font-weight: var(--fw-regular);
    font-size: var(--fs-200);
  }
}

@media screen and (max-width: 550px) {
  .container__right {
    padding: 0 var(--gap-s);
  }
}

@media screen and (max-width: 500px) {
  .container__right {
    padding: 0 var(--gap-l);
  }
  @media screen and (max-width: 1100px) {
    .container {
      grid-template-rows: 106vh auto;
    }
  }
}

@media screen and (max-width: 440px) {
  .header {
    font-size: 2.1rem;
  }
}
